<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

 		<!-- JNDI連線池 (Apache Tomcat 連線池DBCP)設定 -->
		<property name="hibernate.connection.datasource">java:/comp/env/jdbc/yzucs</property>
        
		<!--SQL方言,以下使用Oracle -->
		<!--  <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property> -->
		
		<!--SQL方言,以下使用 Microsoft SQL Server -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		
		<!--是否要顯示實際操作資料庫時的SQL -->
		<property name="hibernate.show_sql">false</property>

        <!-- Disable the second-level cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!--交易管理類型, 以下使用JDBC Transaction -->
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        
        <!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!--Java物件與資料庫表格的映射檔 -->
		<!--益營 -->
		<mapping resource="com/user/model/user.hbm.xml" /> 
		
		<!--  
		<mapping resource="com/answer/model/answer.hbm.xml" /> 
		<mapping resource="com/question_group/model/question_group.hbm.xml" /> 
		<mapping resource="com/question/model/question.hbm.xml" />
		<mapping resource="com/answer_record/model/answer_record.hbm.xml" />
		<mapping resource="com/character_image/model/charImage.hbm.xml" />
		<mapping resource="com/cImage_mood/model/cmood.hbm.xml" />
		<mapping resource="com/cImage_profession/model/cprofession.hbm.xml" />
		<mapping resource="com/question_level/model/question_level.hbm.xml" />
		<mapping resource="com/student_class/model/student_class.hbm.xml" />
		<mapping resource="com/student_class_record/model/studentcr.hbm.xml" />
		<mapping resource="com/sc_question/model/scquestion.hbm.xml" />
		<mapping resource="com/level_record/model/level_record.hbm.xml" />
		<mapping resource="com/QL/model/QL.hbm.xml" />
		<mapping resource="com/yzu_concept/model/ConceptVO.hbm.xml" />
		<mapping resource="com/yzu_gc_mapping/model/GC.hbm.xml" />
		<mapping resource="com/yzu_q_concept/model/QConcept.hbm.xml" />
		-->
		
	</session-factory>
	
</hibernate-configuration>
